/************
 *   Home   *
 ************/

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 0;
  transition: 0.3s ease-in-out;
}

.animate-pop-in {
  animation: no-transform 2s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  transform: translateY(-4rem);
}

#home h1 {
  font-size: 3em;
  padding-top: 0;
  font-weight: 700;
  animation-delay: 0.8s;
}

#home h1:nth-child(2) {
  margin-bottom: 0.5rem !important;
  animation-delay: 1s;
}

#home p {
  width: 40%;
  animation-delay: 1.2s;
}

#social-icons {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-blue);
}

.social-network-icon {
  font-size: 2rem;
  color: var(--light-blue);
  transform: translateY(0);
  background: transparent;
  transition: 0.3s ease-out;
}

.social-icon-container:hover .social-network-icon {
  transform: translateY(-1rem);
  transition: 0.3s ease-out;
}

.social-icon-container:nth-child(1) {
  animation-delay: 1.4s;
}

.social-icon-container:nth-child(2) {
  animation-delay: 1.6s;
}

.social-icon-container:nth-child(3) {
  animation-delay: 1.8s;
}

.social-icon-container:nth-child(4) {
  animation-delay: 2s;
}

@media (max-width: 992px) {
  #home h1 {
    font-size: 2.5em;
  }
  #home p {
    font-size: 0.9em;
    width: 50%;
  }
}

@media (max-width: 580px) {
  #home h1 {
    font-size: 2em;
  }
  #home p {
    font-size: 0.8em;
    width: 80%;
  }
}

/**
 * Tooltips
 */
.anchor-tooltip {
  position: relative;
  transition: 0.4s ease-out;
}

.title-tooltip {
  width: 16rem;
  background: transparent;
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
  border-radius: 10px;
  opacity: 0;
  position: absolute;
  padding: 2rem;
  bottom: 4rem;
  left: calc(50% - 8em);
  text-align: center;
  transform: translateY(-0.25em);
  transition: visibility 0s 0.5s, opacity 0.2s ease-out,
    transform 0.5s cubic-bezier(0, 1, 0.5, 1);
  visibility: hidden;
  z-index: 10;
}

.title-tooltip::after {
  content: '';
  border-style: solid;
  border-color: var(--light-blue) transparent;
  border-radius: 0;
  border-width: 0.2em 0.2em 0 0.2em;
  position: absolute;
  bottom: -0.2em;
  left: calc(50% - 0.2em);
  width: 0;
}

.anchor-tooltip:hover .title-tooltip {
  opacity: 1;
  transform: none;
  transition: opacity 0.2s ease-out, transform 0.5s cubic-bezier(0, 1, 0.5, 1);
  visibility: visible;
}

/**
 * Animations
 */

@keyframes no-transform {
  100% {
    opacity: 1;
    transform: none;
  }
}
