
:root {
  --background-main-color: #c7e3b4;
  --background-secondary-color: #FFF;

  --secondary-text-color: #4B5156;

  --button-color: #c7e3b4;
  
  --light-blue-color: #B4DEE3;

  --box-shadow-color: #8FC76A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* =============
 * Global Styles
 * =============
*/
#root {
  background: var(--background-main-color);
  padding: 20px 0;
}

h1, .card-title {
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

h3, p, li, span, label, input, textarea {
  color: var(--secondary-text-color);
  font-family: 'Roboto Mono', monospace;
}

a {
  color: var(--light-blue-color)!important;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

a:hover {
  color: var(--secondary-text-color)!important;
}

/* =============
 * Main
 * =============
*/
#main {
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid var(--light-blue-color);
  border-radius: 10px;
  background-color: var(--background-secondary-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


/* =============
 * Navbar
 * =============
*/

#navbar {
  width:  100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--light-blue-color);
}

.navbar-nav {
  width: 100%;
}

.nav-link {
  width: 16%;
  text-align: center;
}

/* =============
 * Home
 * =============
*/

#home {
  width: 100%;
  padding: 4rem;
  border-bottom: 1px solid var(--light-blue-color);
}

#greetings {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#profile-image {
  border: 3px solid var(--light-blue-color);
}

/* =============
 * About Me
 * =============
*/
#about-me {
  width: 100%;
  padding: 4rem;
  border-bottom: 1px solid var(--light-blue-color);
}

/* =============
 * Skills
 * =============
*/
#skills {
  width: 100%;
  padding: 4rem;
  border-bottom: 1px solid var(--light-blue-color);
}

/* =============
 * Education and Experience
 * =============
*/
#education-experience {
  width: 100%;
  padding: 4rem;
  text-align: center;
  border-bottom: 1px solid var(--light-blue-color);
}

.slider-card {
  display: flex;
  flex-direction: row !important;
  padding-top: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-slider-image {
  width: 125px;
  height: 125px;
  object-fit: contain;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-footer {
  border: 1px solid rgba(0,0,0,.125);
  border-bottom: 0;
  display: sticky !important;
  bottom: 0 !important;
}

.left-arrow-slider,
.right-arrow-slider {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 4rem;
  color: var(--light-blue-color);
  cursor: pointer;
}

/* =============
 * Projects
 * =============
*/
#projects {
  width: 100%;
  padding: 4rem;
}

.img-project-card {
  min-height: 200px;
}

.btn-project-card {
  background-color: var(--button-color) !important;
  color: black !important;
  border: 0px !important;
}

.btn-project-card:hover {
  background-color: #ABD58F !important;
}

.btn-project-card:focus {
  box-shadow: black !important;
}



