:root {
  --transition: all 0.3s linear;
  --main-color: #0a192f;
  --secondary-color: #8892b0;
  --main-white: #ccd6f6;
  --hover-color: #0e213f;
  --light-blue: #64ffda;
  --dark-blue: #112240;
}

/* Base reset */

* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--main-color);
}

body,
#root {
  min-height: 100vh;
  background-color: var(--main-color);
  font-family: 'Inter', sans-serif;
}

/* =============
 * Global Styles
 * =============
*/

h1 {
  color: var(--main-white);
  margin-bottom: 0 !important;
}

h4 {
  color: var(--main-white);
  font-weight: 700 !important;
}

p {
  color: var(--secondary-color);
  font-weight: 400;
}

strong {
  color: var(--light-blue);
}

#about,
#skills,
#organizations,
#experience,
#projects,
#contact,
#footer {
  margin-top: 8rem !important;
}

#main-projects,
#personal-projects,
#other-projects,
#development-projects {
  margin-top: 4rem;
}

.underline {
  width: 5rem;
  height: 0.1rem;
  margin-bottom: 2rem;
  background: var(--light-blue);
  margin-left: auto;
  margin-right: auto;
}

.general-button {
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
  border-radius: 10px;
  font-family: 'IBM Plex Mono', monospace;
  transition: var(--transition);
}

.general-button:hover {
  background-color: var(--hover-color); /* This is main color but lighter */
  transition: var(--transition);
}

.general-button:focus {
  outline: 0;
}

@media (max-width: 400px) {
  .general-button {
    font-size: 0.8rem;
  }
}

/* =============
 * Navbar
 * =============
*/

.navigation-color {
  color: var(--light-blue) !important;
}

#navbar {
  background-color: var(--main-color);
  padding: 1rem 2rem;
}

.navbar-brand {
  font-weight: 700;
}

#navigation-items {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.link-item {
  color: var(--secondary-color) !important;
  transition: 0.3s ease-out;
}

.link-item:hover {
  color: var(--light-blue) !important;
  transform: translateX(-5px);
  transition: 0.3s ease-out;
}

#navbar-collapse-button {
  border: 1px solid var(--light-blue);
}

#navbar-toggle-icon {
  color: var(--light-blue) !important;
}

#navbar-collapse-button:focus {
  outline: 0;
}

@media (max-width: 992px) {
  #navigation-items a {
    margin-right: auto;
    margin-left: auto;
  }
}

/* =============
 * Home
 * =============
*/

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 0;
  transition: 0.3s ease-in-out;
}

#home h1 {
  font-size: 3em;
  padding-top: 0;
  font-weight: 700;
}

#home h1:nth-child(2) {
  margin-bottom: 0.5rem !important;
}

#home p {
  width: 40%;
}

#social-icons {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-blue);
}

.social-network-icon {
  font-size: 2rem;
  color: var(--light-blue);
  transform: translateY(0);
  background: transparent;
  transition: 0.3s ease-out;
}

.social-network-icon:hover {
  transform: translateY(-1rem);
  transition: 0.3s ease-out;
}

@media (max-width: 992px) {
  #home h1 {
    font-size: 2.5em;
  }
  #home p {
    font-size: 0.9em;
    width: 50%;
  }
}

@media (max-width: 580px) {
  #home h1 {
    font-size: 2em;
  }
  #home p {
    font-size: 0.8em;
    width: 80%;
  }
}

/* =============
 * About Me
 * =============
*/

#about {
  width: 100%;
  margin: 0;
  text-align: justify;
}

#about h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

#about-me-section {
  margin-top: 2rem;
}

#about-me-text {
  padding: 1rem;
}

.about-technologies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-grid-item p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-technology-icon {
  color: var(--light-blue);
  margin-right: 10px;
}

@media (max-width: 992px) {
  #show-all-technologies-button {
    margin-bottom: 1rem;
  }
}

#map-col {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#about-me-map {
  width: 100%;
}

#mapContainer {
  height: 350px;
  width: 100%;
  z-index: 0;
  border: 2px solid var(--light-blue);
  border-radius: 25px;
}

#all-technologies {
  padding: 1rem;
}

#button-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

#show-all-technologies-button {
  margin-bottom: 1rem;
}

#all-technologies h4 {
  margin-bottom: 1rem;
}

.technology-col {
  padding: 1rem !important;
  transition: var(--transition);
}

/* =============
 * Skills
 * =============
*/
#skills {
  width: 100%;
  margin: 0;
  text-align: justify;
}

#skills h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem !important;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.field-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: var(--light-blue);
  color: var(--secondary-color);
}

.field-btn:hover {
  color: var(--light-blue);
  box-shadow: 0 2px var(--light-blue);
}

.field-btn:focus {
  outline: 0;
}

.active-btn {
  color: var(--light-blue);
  box-shadow: 0 2px var(--light-blue);
}

.field-content {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  border: 4px solid var(--light-blue);
  border-radius: 50px;
  padding: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.field-info {
  padding-top: 2rem;
  text-align: justify;
}

.technologies-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.technologies-grid-item p {
  text-align: center;
  margin: 0;
}

.technologies-grid-item:hover {
  transform: scale(1.5) !important;
  z-index: 1;
}

.technology-icon {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 992px) {
  .field-content {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .field-content {
    width: 100%;
  }
}

@media (max-width: 592px) {
  .btn-container button {
    font-size: 1em;
  }

  .technology-icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .technologies-grid-item p {
    transform: scale(0.8);
  }

  .field-info p {
    font-size: 0.9em;
  }
}

@media (max-width: 530px) {
  .btn-container button {
    font-size: 0.8em;
  }
  .field-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .technology-icon {
    width: 2rem;
    height: 2rem;
  }
  .technologies-grid-item p {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .btn-container button {
    font-size: 0.7em;
  }
  .technology-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
  .technologies-grid-item p {
    font-size: 0.7rem;
  }
}

@media (max-width: 415px) {
  .btn-container button {
    font-size: 0.6em;
  }
  .field-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 375px) {
  .technology-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .technologies-grid-item p {
    font-size: 0.6rem;
  }
}

/* =============
 * Education and Experience
 * =============
*/
#organizations h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.card-column {
  text-align: center;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}

.swiper-container {
  max-width: 350px;
  height: 300px !important;
  margin-top: 2rem;
}

.swiper-slide {
  background-color: var(--main-color) !important;
  border: 1px solid var(--light-blue);
  color: var(--main-white) !important;
}

.slider-card {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row !important;
  max-width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: black;
  opacity: 0;
  transition: all 0.3s linear;
}

.card-slider-image {
  width: 125px;
  height: 125px;
  object-fit: contain;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card-title {
  font-weight: 700 !important;
  font-size: 1rem !important;
}

.card-text {
  color: var(--secondary-color);
  font-weight: 400;
}

@media (max-width: 992px) {
  .card-column:nth-child(3) {
    margin: 2rem auto 0 auto;
  }
}

@media (max-width: 768px) {
  .card-column:nth-child(2),
  .card-column:nth-child(3) {
    margin-top: 4rem;
  }
}

/* =============
 * Swippers
 * =============
*/
.swiper-container {
  width: 300px;
  height: 325px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.card-content {
  padding: 1rem;
}

/* =============
 * Projects
 * =============
*/
#projects {
  width: 100%;
  margin: 0;
  text-align: justify;
}

#projects h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

#view-all-projects-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#view-all-projects-button-container:hover {
  text-decoration: none;
}

#view-all-projects-button:focus {
  outline: 0;
}

#view-all-projects-button {
  margin: 2rem auto 0 auto;
  background-color: transparent;
  border: 0;
  color: var(--light-blue);
  font-size: 0.8rem;
  transition: var(--transition);
}

#view-all-projects-button:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  background: var(--light-blue);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#view-all-projects-button:hover:after {
  width: 100%;
  left: 0;
}

.project {
  margin-top: 4rem;
}

.project-image-container img {
  border-radius: 8px;
  opacity: 0.5;
  transition: var(--transition);
}

.project-image-container img:hover {
  opacity: 1;
  transition: var(--transition);
  cursor: pointer;
}

.project-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.project-technologies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.project-description {
  background-color: var(--dark-blue);
  padding: 1.5rem 2rem;
  border-radius: 6px;
}

.project-description p {
  margin: 0;
}

.project-technologies-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.project-technology-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-technology-icon {
  color: var(--light-blue);
}

.technology-name {
  margin-left: 10px;
  color: var(--secondary-color);
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.project-link-icon {
  padding: 0 0.5rem;
  color: var(--secondary-color);
  transition: var(--transition);
}

.project-link-icon:hover {
  color: var(--light-blue);
  transition: var(--transition);
}

@media (max-width: 1200px) {
  .project-info {
    font-size: 0.9em;
  }
  .project-info h4 {
    font-size: 1.4em;
  }
  .project-technologies-grid {
    font-size: 0.9em;
  }
  .project-link-icon {
    font-size: 1.25rem;
  }
}

/* =============
 * Projects single container
 * =============
*/

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 2rem;
}

.project-single-container {
  position: relative;
  margin-top: 2rem;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 25, 47, 0.5);
  z-index: 2;
}

.image-project-single-container img {
  border-radius: 8px;
  opacity: 0.3;
  transition: var(--transition);
}

.image-project-single-container:hover img {
  opacity: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition);
}

.project-single-container-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem;
}

.project-single-container-info h4 {
  margin-bottom: 2rem;
}

.project-single-container-technologies-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  opacity: 0;
  transition: var(--transition);
}

.project-single-container-description {
  width: 80%;
  border-radius: 6px;
  text-align: justify;
  opacity: 0;
  transition: var(--transition);
}

.project-single-container-description p {
  color: var(--main-white);
}

.project-single-container-technology-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--light-blue);
}

.technology-name {
  margin-left: 10px;
  color: var(--main-white);
}

.project-single-container-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  opacity: 0;
  transition: var(--transition);
}

.project-single-container:hover .project-single-container-links,
.project-single-container:hover .project-single-container-description,
.project-single-container:hover .project-single-container-technologies-grid,
.project-single-container:hover .project-team-members {
  opacity: 1;
  transition: var(--transition);
}

.project-single-container-link-icon {
  padding: 0 0.5rem;
  color: var(--main-white);
  transition: var(--transition);
}

.project-single-container-link-icon:hover {
  color: var(--light-blue);
  transition: var(--transition);
}

.project-team-members {
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--main-white);
  transition: var(--transition);
}

.team-member {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.member-linkedin {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--main-white);
  transition: var(--transition);
}

.member-linkedin:hover {
  text-decoration: none;
  color: var(--light-blue);
  transition: var(--transition);
}

.member-linkedin-icon {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .project-single-container h4 {
    margin-bottom: 1rem;
  }
  .project-single-container-description,
  .project-single-container-technologies-grid,
  .project-team-members {
    font-size: 0.7em;
  }
  .project-single-container-links,
  .member-linkedin-icon {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .project-single-container h4 {
    margin-bottom: 2rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .project-single-container-description,
  .project-single-container-technologies-grid,
  .project-team-members {
    font-size: 1em;
  }
  .project-single-container-links,
  .member-linkedin-icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .project-single-container-description,
  .project-single-container-technologies-grid,
  .project-team-members {
    font-size: 0.8em;
  }
  .project-single-container-links,
  .member-linkedin-icon {
    font-size: 1.4rem;
  }
}

@media (max-width: 560px) {
  .project-single-container h4 {
    margin-bottom: 1rem;
  }
  .project-single-container-description,
  .project-single-container-technologies-grid,
  .project-team-members {
    font-size: 0.6em;
  }
  .project-single-container h4,
  .project-single-container-links,
  .member-linkedin-icon {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .project-single-container-description,
  .project-single-container-technologies-grid,
  .project-team-members {
    font-size: 0.5em;
  }
  .project-single-container h4,
  .project-single-container-links,
  .member-linkedin-icon {
    font-size: 1rem;
  }
}

@media (max-width: 415px) {
  .project-single-container h4 {
    font-size: 0.8em;
    margin-bottom: 0.8rem;
  }
  .project-single-container-description {
    font-size: 0.4em;
  }
  .project-single-container-technologies-grid {
    font-size: 0.4em;
  }
  .project-single-container-links {
    font-size: 0.6rem;
  }
}

@media (max-width: 415px) {
  .project-single-container h4 {
    font-size: 0.7em;
    margin-bottom: 0.7rem;
  }
  .project-single-container-description {
    font-size: 0.3em;
  }
  .project-single-container-technologies-grid {
    font-size: 0.3em;
  }
  .project-single-container-links {
    font-size: 0.5rem;
  }
}

/* =============
 * Projects page
 * =============
*/

#all-projects {
  padding: 2rem 0;
  background-color: var(--main-color);
}

#all-projects h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem !important;
}

.all-projects-card {
  color: var(--main-white);
  height: 100%;
  margin: 2rem 0 0 0 !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--light-blue) !important;
  background-color: transparent !important;
}

#back-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#back-btn:hover {
  text-decoration: none;
}

.card-column-item:hover {
  transform: scale(1) !important;
}

@media (max-width: 992px) {
  .card-columns {
    column-count: 2 !important;
  }
}

@media (max-width: 768px) {
  .card-columns {
    column-count: 1 !important;
  }
}

/* =============
 * Contact
 * =============
*/
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

#contact-form {
  width: 50%;
  padding: 2rem;
  border-radius: 8px;
}

/* =============
 * Footer
 * =============
*/
footer {
  padding: 2rem;
}

footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  font-family: 'IBM Plex Mono', monospace;
}

.footer-icon {
  color: var(--secondary-color);
  margin-left: 10px;
}

@media (max-width: 375px) {
  footer {
    font-size: 0.8rem;
  }
}

/* =============
 * Media Queries
 * =============
*/
@media (max-width: 1220px) {
  .btn-show-more {
    width: 45%;
  }
}

@media (max-width: 1200px) {
  .card-deck div {
    margin-left: auto;
    margin-right: auto;
  }

  .card-deck div:last-child {
    margin-top: 2rem;
  }

  .btn-show-more {
    width: 45%;
  }
}

@media (max-width: 1015px) {
  .btn-show-more {
    width: 50%;
  }
}

@media (max-width: 810px) {
  .btn-show-more {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .card-deck div {
    margin-top: 2rem;
  }

  .btn-show-project {
    width: 40%;
  }
}

@media (max-width: 575px) {
  #projects {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
